{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h1>Sortie: {{ event.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ event.duration }}</td>
            </tr>
            <tr>
                <th>Datecloture</th>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbinscriptionsmax</th>
                <td>{{ event.maxRegistrations }}</td>
            </tr>
            <tr>
                <th>Descriptioninfos</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Etatsortie</th>
                <td>{{ event.eventState }}</td>
            </tr>
            <tr>
                <th>UrlPhoto</th>
                <td>{{ event.urlPhoto }}</td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ event.organizer }}</td>
            </tr>
            <tr>
                <th>Lieux_no_lieu</th>
                <td>{{ event.locationNumLocation }}</td>
            </tr>
            <tr>
                <th>Etats_no_etat</th>
                <td>{{ event.stateNumState }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('event_index') }}">Retour à la liste</a>

    <button class="btn btn-primary button-style">
        <a href="{{ path('event_edit', {'id': event.id}) }}">modifier</a>
    </button>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
