{% extends 'base.html.twig' %}

{% block title %}Sorties index{% endblock %}

{% block body %}
    <h1>Sorties index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>No_sortie</th>
                <th>Nom</th>
                <th>Datedebut</th>
                <th>Duree</th>
                <th>Datecloture</th>
                <th>Nbinscriptionsmax</th>
                <th>Descriptioninfos</th>
                <th>Etatsortie</th>
                <th>UrlPhoto</th>
                <th>Organisateur</th>
                <th>Lieux_no_lieu</th>
                <th>Etats_no_etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorty in sorties %}
            <tr>
                <td>{{ sorty.id }}</td>
                <td>{{ sorty.noSortie }}</td>
                <td>{{ sorty.nom }}</td>
                <td>{{ sorty.datedebut ? sorty.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ sorty.duree }}</td>
                <td>{{ sorty.datecloture ? sorty.datecloture|date('Y-m-d') : '' }}</td>
                <td>{{ sorty.nbinscriptionsmax }}</td>
                <td>{{ sorty.descriptioninfos }}</td>
                <td>{{ sorty.etatsortie }}</td>
                <td>{{ sorty.urlPhoto }}</td>
                <td>{{ sorty.organisateur }}</td>
                <td>{{ sorty.lieuxNoLieu }}</td>
                <td>{{ sorty.etatsNoEtat }}</td>
                <td>
                    <a href="{{ path('sorties_show', {'id': sorty.id}) }}">show</a>
                    <a href="{{ path('sorties_edit', {'id': sorty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sorties_new') }}">Create new</a>
{% endblock %}
